@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .drop-shadow-custom {
    filter: drop-shadow(0 0 5px rgba(0, 0, 1, 0.2));
  }
}

/********* Hero Slider Styles  *********/
.hero .custom-pagination .not-active {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.hero .custom-pagination .active {
  background: #fff;
}

/********* Agent Slider Styles  *********/

/** to be removed*/
.agents .custom-pagination {
  display: none;
}

.agents .custom-pagination .not-active {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.agents .custom-pagination .active {
  background: #e2574c;
}

/********* Testimonial Slider Styles  *********/
.testimonials .splide__pagination {
  bottom: 20%;
  display: flex;
  gap: 0.5em;
}

.testimonials .custom-pagination {
  display: none; /** to be removed **/
}

.testimonials .splide__pagination__page {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
  height: 15px !important;
  width: 15px !important;
}

.testimonials .splide__pagination__page.is-active {
  background: #fff !important;
  transform: scale(1) !important;
}

/********* Blog Pagination Styles  *********/
.blog .rc-pagination-prev,
.blog .rc-pagination-next {
  display: none;
}
