@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .drop-shadow-custom {
    filter: drop-shadow(0 0 5px rgba(0, 0, 1, 0.2));
  }
}

/********* Hero Slider Styles  *********/
.splide__pagination {
  top: -50px;
  display: flex;
  gap: 0.5em;
}

.splide__pagination__page {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
  height: 15px !important;
  width: 15px !important;
}

.splide__pagination__page.is-active {
  background: #fff !important;
  transform: scale(1) !important;
}
